.enter-btn {
    margin-top: 50px;
    padding: 15px 35px;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid white;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.enter-btn:hover {
    background-color: rgba(255, 255, 255, 0.4);
}